name: Run css_parser CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Test ruby version matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.3', '3.4', '4.0', 'jruby']

    steps:
      - uses: actions/checkout@v4

      - run: rm Gemfile.lock

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - run: bundle exec rake test

  rubocop:
    name: Run rubocop
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3' # lowest supported Ruby version
          bundler-cache: true

      - run: bundle exec rake rubocop
